﻿
@{
    ViewBag.Title = "Work";
}

<body style="background-color:powderblue;">
    <div class="container text-center">
        <h1 style="font-family: 'Lato', sans-serif; font-size:75px; color:dodgerblue;">Works</h1>
    </div> 
    <div class="container text-center">
        <a href="https://github.com/ColtonMiller/CombatSim2.0" target="_blank"><h1 style="font-family: 'Lato', sans-serif; font-size:60px; color:navy;">Fight Anything</h1><p style="font-family:'Roboto Slab',serif; left:auto; font-size:large;">A simple Combat simulator where you have 3 weapons and you can...Fight anything.</p></a>
        <div class="row text-center"><img src="~/Content/FA1.png" style="height:250px;" /><img src="~/Content/FA2.png" style="height:250px;" /><img src="~/Content/FA3.png" style="height:250px;" /><img src="~/Content/FA4.png" style="height:250px;" /></div>  
    </div>
    <div class="container text-center">
        <a href="https://github.com/ColtonMiller/Rememberyourlines" target="_blank"><h1 style="font-family: 'Lato', sans-serif; font-size:60px; color:navy;">Remember Your Lines</h1><p style="font-family:'Roboto Slab',serif; left:auto; font-size:large;">Takes in a .txt file of the entire script of MacBeth user can enter anything and the program shows all lines that contain the input. </p></a>  
    </div>
    <div class="row text-center"><img src="~/Content/RYL1.png" style="height:250px;" /><img src="~/Content/ryl2.png" style="height:250px;" /><img src="~/Content/RYL3.png" style="height:250px;" /></div>  
</body>

